* {
    margin:0;
    padding:0;
}

header {
    clear: both;
    overflow: hidden;

    padding: 2%;

    background-color: #888;
}

header .title {
    float: left;
    font-size: 30px;
}

header .menu {
    float: right;
    padding: 3%;
    font-size: 25px;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding-right: 40px;
}

@media (max-width: 800px) {
    header {
        clear: both;
    }

    header .menu ul {
        display: block;
    }
}