* {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

.signup {
    margin: 10%;
    padding: 5%;

    height: 50%;
    width: auto;

    border: 1px solid #000;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #000;
}

.signup h1 {
    font-size: 45px;
}

.signup ul {
    display: inline-flex;
}

ul li input {
    margin: 10px;
}

input[type="text"]{
    width: 200px;
    height: 25px;
}

input[type="number"]{
    width: 50px;
    height: 30px
}

select {
    width: 80px;
    height: 30px;

    margin: 10px;
}

button {
    width: 100px;
    height: 50px;
}

.personal {
    padding-bottom: 30px;
}