* {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

.signup {
    margin: 10%;
    padding: 5%;

    height: 50%;
    width: auto;

    border: 0.5px solid #000;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #000;
}

.singup form{
    display: flex;
}

.signup label {
    display: block;
    margin-top: 10px;
}

option {
    font-size: 10px;
}

input[type="radio"] {
    height: 10px;
} 

input [type="text"] {
    width: 200px;
    font-size: 20px;
}

textarea {
    width: 500px;
    resize: none;
}