* {
    font-family: -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.screen {
    background-color:  default;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.screen h1 {
    font-weight: 100;
    font-size: 50px;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    /*
        column-gap: 10px;
        row-gap: 5px;
    */
}

.item {
    background-color: #8a8a8a;
    color: #fff;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 100;
    padding: 10px;
    text-align: center;
}

.item:hover {
    opacity: 0.5;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 50px;
    margin: 5px;
    /*gap: 50px 50px*/
}

.call,
.cancel{
    font-size: 30px;    
}

.call {
    background-color: #55ff55;
}

.cancel {
    background-color: #ff5555;
}

@media (max-width: 768px) {

    .screen h1 {
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 40px;
    }

}