* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #region HEADER */
header {
    padding: 4% 3.5rem;
}

header ul {
    float: inline-end;
}

header ul li a {
    color: #000;
    text-decoration: none;
}

header ul li a:hover {
    color: #888;
    transition: 500ms;
}
/* #endregion */