:root {
    --bg-color: #dd7777;
    --font-color: #cc5555;

    --height-mobile: 768px; 
    --width-mobile: 460px;

    --height-desktop: 1000px;
    --width-desktop: 1000px;
}

* {
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    padding: 40px;

    clear: both;
    overflow: hidden;   

    background-color: var(--bg-color);
}

header .title {
    float: left;
}

header .menu {
    float: right;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding: 10px 40px 0 0;
}

@media (max-width: 750px) {
    header .menu ul {
        display: block;
    }
}