* {
    margin: 0;
    padding: 0;
}

header {
    padding: 5%;

    clear: both;
    overflow: hidden;

    background-color: #000;
    color: #fff;
}

header .logo {
    float: left;
}

header .menu {
    float: right;
}

header .menu ul {
    display: flex;
}