/* div {
    height: 100px;
    width: 100px;
    background-color: #999999;
}

div:first-child {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

div:last-of-type {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}    */

body :not(p){
    background-color: #999;
}