* {
    margin:0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}

/* #region HEADER */
.container .navbar{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;

    padding: 15px;
    background-image: url('./media/images/F79C.gif');
    background-position: center;
    background-size: cover;

    height: auto;
}

.navbar {
    padding: 10px;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    color: #efefef;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
    transition: 800ms;
}

.presentation {
    margin-top: 75px;
    margin-bottom: 45px;
}

.presentation h1 {
    margin: 15px;
    margin-left: 20px;
    font-size: 75px;
    font-weight: 100;
    text-shadow: 5px 5px 5px #000;
    color: #fff;
    text-align: center;
}

.presentation h2 {
    margin: 15px;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 100;
    text-shadow: 5px 5px 5px #000;
    color: #fff;
    text-align: center;
}
/* #endregion */

/* #region TITLE */
#title {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#title h1 {
    font-size: 80px;
    color: #7a7a7a;
    text-shadow: 5px 5px 5px #111;
}
/* #endregion */

/* #region TIMELINE */
#timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}

.timeline-component {
    margin: 0 20px 20px 20px;
}

.bgc {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 3px #363c3f;
    border-radius: 10px;
}

.timeline-middle {
    position: relative;
    background: #656565;
}

.timeline-point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #464646;
    border-radius: 50%;
}

.right {
    text-align: right;
    color: #363c3f;
}

.timeline-date {
    color: #363c3f;
}

.timeline-title{
    color: #363c3f;
    font-size: 42px;
    margin-bottom: 10px;
}

.timeline-paragraph {
    color: #363c3f;
    font-size: 14px;
    margin-top: 10px;
    padding: 15px
}

.bottom {
    top: initial;
    bottom: 0;
    margin: 0;
}
/* #enderegion */