.container {
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: #9999ff;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

/*
    Varia de acordo com o número de linha e de colunas imaginárias
    que o determinado grid possui.

    lembrando nas aulinhas de inglês:
    - rows: linhas
    - columns: colunas
*/

/* Parte 1 - introdução a grid-column e grid-row*/
/* 
.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 5;
}

.item8 {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 7;
} */


/* Parte 2 - alinhamento e posição*/
/* .item7 {
    background-color: #ff9999;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 5;
}

.item5 {
    background-color: #ffff00;
    color: #000;

    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 5;

}

.item11 {
    background-color: #ffaaff;
    grid-row-start: 3;
    grid-row-end: 5;
} */

/* Parte 3 - forma simplificada*/
.item1 {
    /* 01. Sem span */
    /* grid-column: 1/3;
    grid-row: 1/3; */

    /* 02. Com span */
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.item11 {
    /* grid column: 1/ 4 */
    grid-column: 1 / span 3;
}