.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #99dddd;
    margin: 10px;
    padding: 10px;
}

.container div {
    width: 200px;
    background: #fffddd;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.container2 {
    display: flex;
    flex-flow: wrap;
    background-color: #55ffee;
    margin: 10px;
    padding: 10px;
}

.container2 div {
    flex: 1;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}

.container3 {
    display: flex;
    background-color: #ffaa11;
    margin: 10px;
    padding: 10px;
}

.container3 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container4 {
    display: flex;
    justify-content: center;
    background-color: #9ade00;
    margin: 10px;
    padding: 10px;
}

.container4 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container5 {
    display: flex;
    justify-content: flex-end;
    background-color: #fe4a44;
    margin: 10px;
    padding: 10px;
}

.container5 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container6 {
    display: flex;
    flex-direction: column;
    background-color: #992333;
    margin: 10px;
    padding: 10px; 
}

.container6 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e895a0;
    margin: 10px;
    padding: 10px; 
}

.container7 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container8 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #3b25ca;
    margin: 10px;
    padding: 10px; 
}

.container8 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container9 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #767482;
    margin: 10px;
    padding: 10px;
}

.container9 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.container10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7eac6b;
    margin: 10px;
    padding: 10px;
}

.container10 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;  
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.cont1, 
.cont2, 
.cont3, 
.cont4, 
.cont5, 
.cont6 {
    height: 300px;
    background-color: #44ddee;
    margin:10px;
    padding:10px;
}

.cont1 {
    display: flex;
}

.cont2 {
    display: flex;
    align-items: center;
}

.cont3 {
    display: flex;
    align-items: flex-end;
}

.cont1 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.cont2 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.cont3 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.cont4 {
    display: flex;
    justify-content: flex-end;
}

.cont4 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.cont5 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cont5 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}

.cont6 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cont6 div {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    height: 20px;
    width: 100px;
}