:root {
    --header-color: #000;
}

/* FONTES */
@font-face {
    font-family: GothamMedium;
    src: url(media/fonts/GothamMedium.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(media/fonts/GothamBookRegular.otf);
}

body {
    font-family: 'GothamMedium', Helvetica, Arial;
    font-size: 14px;
    margin:0;
}

/* #region HEADER  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 50px;
}

header .logo{
    width: 120px;
    height: 15px;
    margin-left: 20px;
}

header .right{
    margin-right: 20px;
}

header .middle ul,
header .right ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

header .middle li,
header .right li{
    margin: 0 10px;
}

header .middle a,
header .right a{
    text-decoration: none;
    color: var(--header-logo);
}

header .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 18px;
    height: 16px;
    cursor: pointer;
}

header .menu-icon div {
    height: 2px;
    width: 16px;
    background-color: #000;
}
/* #endregion */