* {
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.exemplo {
    height: 300px;
    width: 300px;
    background: #333;
    transition: all 0.5s linear;
}

.exemplo:hover{
    width: 600px;
}

a {
    color: #999;
    text-decoration: none;
    transition: all 2s linear;
}

a:hover {
    color: #000;
}

.exemplo2 {
    height: auto;
    width: auto;
    border: 2px solid #111;
    word-wrap: break-word;
    overflow: scroll;
}