* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

header {
    background-image: linear-gradient(to right, #888, #888);
    padding: 40px;

    clear: both;
    overflow: hidden;
}

header .title {
    float: left;
}

nav {
    padding: 10px;
    float: right;
}

nav a {
    padding-right: 5px;

    color: #333;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
    transition: 500ms;
}

@media screen and (max-width: 640px) {
    nav a{
        display:list-item;
    }
}