* {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

/* #region HEADER */
header {
    padding: 40px;
    
}

header .logo {
    float: left;
    position: absolute;
    top: 25px;
    left: 85px;
}

header .menu {
    float: right;
    position: relative;
    top: -5px;
    right: 30px;
}

header .menu ul{
    display: flex;
}

header .menu ul li {
    margin-right: 40px;
}

header .menu ul li a {
    color: #000;
    text-decoration: none;
}

header .menu ul li a:hover {
    color: #fff;
    transition: 1000ms;
}
/* #endregion */

/* #region FORM  */
section {
    background-color: #eee;
    padding: 5%;
}

fieldset {
    width: 50%;
    position: relative;

    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000;
}

legend{
    font-size: 40px;
    padding-left: 100px;
}

form {
    padding: 30px;
    position: relative;
    left: 180px;
}


/* #endregion */