.video {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.video-area {
    position: relative;
    height: 0;
    background: #888;
    padding: 0 0 56.25%;
}

.video-area iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}