* {
    margin:0;
    padding:0;
}

header {
    clear:both;
    overflow: hidden;

    padding: 10px;
}

header .logo {
    float: left;
}

header .menu {
    float: right;
    padding: 5px;
}

header .menu ul {
    display: flex;
}

img {
    width: max(50%, 10px);
}

/* #region VIDEO */
.video {
    width: 50%;
    max-width: 700px;
    margin: auto;
}

.video-area {
    position: relative;
    height: 0;
    background: #888;
    padding: 0 0 56.25%;
}

.video-area iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}
/* #endregion */

/* #region SECAO-NADA */

/* #endregion */