* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito';
}

fieldset {
    margin: 10%;
    padding: 2%;
    border: 3px solid #666;
    border-radius: 40px;

    box-shadow: 5px 5px 5px #000;
}

legend {
    padding: 5px;
    font-size: 50px;
}

label {
    padding-left: 250px;
    font-size: 30px;

    margin-top: 5%;
}

input {
    width: 500px;
    height: 25px;

    margin-top: 5px;
    margin-left: 250px;

    font-size: 15px;
    
    border: 1px solid transparent;
    border-bottom: 3px solid #555;

    padding: 4px;

    outline: 0;
}

button {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 150px;

    margin-left: 430px;

    border: 1px solid transparent;
    border-radius: 35px;

    font-size: 15px;
}

button:hover {
    background-color: rgba(127, 127, 127, 0.5);
    color: #333;
    transition: 500ms;
}

p {
    margin-top: 30px;
    margin-left: 390px;
}

p a {
    color: #000;
    text-decoration: none;
}

p a:hover {
    color: #00f;
    text-decoration: underline;
    transition: 500ms;
}