* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-weight: 100;
}

/* #region HEADER */
header {
    padding: 2%;
    background-image: linear-gradient(to right, #a9b9c9, #9a9b9c, #f9d9e9);
}

header ul {
    float: right;
    display: flex;
}

header ul li {
    padding-right: 15px;
}

header ul li a {
    color: #5c5c5c;
    text-decoration: none;
}
header ul li a:hover {
    color: #9a9b9c;
    transition: 500ms;
}
/* #endregion */

/* #region SECTION EXAMPLES */
section {
    padding: 4%;
}

section .title {
    font-size: 35px;
}

section .unord-list {
    padding-top: 25px;
}

section .ord-list {
    padding-top: 25px;
}

h1 {
    font-size: 20px;
}
/* #endregion */