* {
    margin:0;
    padding:0;
}

header {
    background-color: #99ff99;

    padding: 30px;

    clear: both;
    overflow: hidden;
}

header .logo {
    float: left;

    font-size: 50px;
}

header .menu {
    float: right;

    padding: 20px;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    padding-right: 15px;
}

@media (max-width: 470px) {
    header .menu ul{
        display: block;
        padding-bottom: 40px;
    }
}