body {
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* 
div {
    background-color: #36aae1;
    padding: 20px;
}

div::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #32cc12;
}

.nhemon {
    background-color: #9addff;
}

.nhemon::before {
    content: "-->";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #e133fa;
    padding: 5px;
}

.nhemon::after {
    content: "<--";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #9dca33;
    padding: 5px;
} */

.balao {
    background-color: #aaaaff;
    display: inline-block;
    color: #fff;
    padding: 40px;
    border-radius: 20px;

    font-size: 20px;
    text-align: justify;
}

.balao::after {
    content: '';
    display: block;
    position: absolute; 
    margin-left: 75%;
    margin-top: 20px;

    border: 50px solid;
    border-color: #aaaaff transparent transparent transparent;
}

.balao2 {
    background-color: #ffaaff;
    display: inline-block;
    color: #fff;
    padding: 40px;
    border-radius: 20px;

    margin-top: 50px;
    font-size: 20px;
    text-align: justify;
}

.balao2::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 40px;

    border: 50px solid;
    border-color: #ffaaff transparent transparent transparent;
}

.balao3 {
    background-color: #aaffaa;
    display: inline-block;
    color: #fff;
    padding: 40px;
    border-radius: 20px;

    margin-top: 150px;
    font-size: 20px;
    text-align: justify;
}

.balao3::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: 75%;
    margin-top: -130px;

    border: 50px solid;
    border-color: transparent transparent #aaffaa transparent;
}