:root {
    --bg-light: #e3e3e3;
    --bg-dark: #090909;
    --font-light: #2d2d2d;
    --font-dark: #d5d5d5;
    --default-color: #b28756;
    --default-hover-color: #c39867;

    --line-color: #999;

    --color-twitter: #88d5e1;
    --color-linkedin: #287cc1;
    --color-facebook: #3661e1;
    --color-googleplus: #d23939;
    --color-pinterest: #d51d1d;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    background-color: var(--default-color);
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 30px;

    font-size: 11px;
    font-weight: 600;
}

.button:hover {
    background-color: var(--default-hover-color);
    transition: 500ms;
}

.light {
    background-color: var(--bg-light);
    color: var(--font-light);
}

.dark {
    background-color: var(--bg-dark);
    color: var(--font-dark);
}

/* #region HEADER */
header {
    height: 100px;
    background-color: #2d2d2d;
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}   

.logo{
    width: 100px;
}

.menu {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--default-color);
    border-radius: 50%;
}

.menu ul,
.menu li{
    list-style: none;
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
    height: 100px;
    border-bottom: 5px solid #2d2d2d;

    /* padrão - display:inline */
    /* display para altura: flex */
    display: flex;
    /* align-items: center - no meio */
    align-items: center;
}

.menu li a:hover,
.menu .active a {
    color: #AAA;
    border-bottom: 5px solid var(--default-color);
    transition: 500ms;
}
/* #endregion */

/* #region MAIN */
/* a. banner como todo */
.banner {
    height: calc(100vh - 100px);
    background-color: var(--bg-dark);
    background-image: url('/b.awax/complementos/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
/* sliders e slide */
.banner .slider{
    height: 100%;
    width: 1000vw;
}

.banner .slide {
    height: 100%;
    width: 100vw;
    display:inline-block;
    background-color: rgba(0,0,0, 0.75);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}

.banner .slidearea h1,
.banner .slidearea h2 {
    text-transform: uppercase;
}

.banner .slidearea h1 {
    font-size: 50px;
}

.banner .slidearea span {
    color: var(--default-color);
}

.banner .slidearea h2 {
    font-size: 20px;
    margin-top: 5px;
}

.banner .slidearea a:hover {
    opacity: 0.75;
    transition: 500ms;
}

.banner .slide-pointer {
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
}

.banner .pointer {
    height: 20px;
    width: 20px;
    border: 2px solid var(--default-color);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.banner .pointer.active,
.banner .pointer:hover{
    background-color: #d4a978;
    transition: 500ms;
}

/* b. DEFAULT */

.default {
    padding: 50px 0; 
}

.default .description-title,
.default .description-descr {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .description-title {
    font-size: 20px;
}

.default .description-descr {
    font-size: 11px;
    color: #979797;
    margin-top: 10px; 
    margin-bottom: 40px;
}

.default .description-body {
    max-width: 1140px;
    min-height: 100px;
    margin:auto;
}

/* DESCRIPTION  - a. about*/
.description-about {
    display: flex;
}

.description-about-left {
    flex: 1;
    padding: 50px;
}

.description-about-left p {
    line-height: 22px;
    text-align: justify;
}

.description-about-left a:hover {
    background-color: var(--default-hover-color);
    transition: 500ms;
}

.description-about-right {
    width: 500px;
    text-align: center;
}
.description-about-right img {
    width: 500px;
    box-shadow: 0px 0px 15px #000;
}

/* DESCRIPTION - b. services */
.description-services {
    display: flex;
}

.description-service {
    flex:1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;
}

/* o :last-of-type é substituto do :last-child (provavel versao incompatível) */
.description-service:last-of-type {
    border-right: 1px solid #333;
}

.description-service h4 {
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 18px;
}

.description-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

/* DESCRIPTION - c. projects */
.description-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-project-filters {
    border: 1px solid #999;
    background-color: #ddd;
    border-radius: 30px;
    display:inline-block;
    padding: 0 20px;
}   

.description-project-filters ul,
.description-project-filters li {
    list-style: none;
}

.description-project-filters li {
    display:inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border-left: 1px solid #ccc;
    color: #777;
    border-bottom: 3px solid #ddd;
    cursor: pointer;
}

.description-project-filters li:hover,
.description-project-filters .active{
    border-bottom: 3px solid var(--default-color);
    transition: 500ms;
}

.description-project-filters li:first-child {
    border-left:0;
}

.description-project-photos {
    width: 100vw;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.description-project-photo {
    width: 280px;
}

.description-project-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.description-project-photoarea img {
    width: inherit;
    height: inherit;
}

.description-project-photoinfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-dark);
    display: none;
}

.description-project-photoinfo h5 {
    font-size: 19px;
    font-weight: 600;
}

.description-project-photoinfo p {
    font-size: 10px;
}

.description-project-photoarea:hover .description-project-photoinfo {
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    width:inherit;
    height:inherit;
    transition: 300ms;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
}

.team-bg {
    background-image: url('../../complementos/bg.jpg');
    background-position: top;
    background-size: cover;
    padding:0;
}

.description-team {
    background-color: rgba(0, 0, 0, 0.85);
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec-team {
    overflow: hidden;
    max-width: 880px;
    margin:auto;
}

.sec-team .slider{
    height: 100%;
    width: 1000vw;
}

.sec-team .slide {
    height: 100%;
    width: 280px;
    display:inline-block;
    background-color: #fff;
    margin-right: 20px;
    min-height: 300px;
}

.sec-team .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    height: 100%;
}

.sec-team .slidearea h1,
.sec-team .slidearea h2 {
    text-transform: uppercase;
}

.sec-team .slidearea h1 {
    font-size: 50px;
}

.sec-team .slidearea span {
    color: var(--default-color);
}

.sec-team .slidearea h2 {
    font-size: 20px;
    margin-top: 5px;
}

.sec-team .slidearea a:hover {
    opacity: 0.5;
    transition: 500ms;
}

.description-team .slide-pointer {
    margin-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-team .pointer {
    height: 20px;
    width: 20px;
    border: 2px solid var(--default-color);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.description-team .pointer.active,
.description-team .pointer:hover{
    background-color: var(--default-hover-color);
    transition: 500ms;
}

.worker-image{
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.worker-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.worker-role {
    font-size: 10px;
    margin-top: 5px;
}

.worker-socialmedia {
    display: flex;
    margin-top: 10px;
}

.worker-socialmedia a{
    margin: 5px 5px;
    background-color: #aaa;
    padding: 5px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.worker-socialmedia .active {
    background-color: var(--default-hover-color);
}

.client-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-name {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

.client-role {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.review-icon {
    margin-top: 50px;
}

.client-review-text {
    margin-top: 10px;
    padding: 10px;
}

.client-review-text p {
    text-align: center;
    line-height: 25px;
}

.description-client .slide-pointer {
    margin-top: 100px;
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-client .pointer {
    height: 20px;
    width: 20px;
    border: 2px solid var(--default-color);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.description-client .pointer.active,
.description-client .pointer:hover{
    background-color: #d4a978;
    transition: 500ms;
}

.sponsors {
    display: flex;
    justify-content: center;
}

.sponsors .company {
    padding: 10px 30px;
}

.sec-prices {
    overflow: hidden;
    max-width: 1180px;
    margin:auto;
}

.sec-prices .slider{
    height: 100%;
    width: 1000vw;
}

.sec-prices .slide {
    height: 100%;
    width: 270px;
    display:inline-block;
    background-color: #fff;
    margin-right: 20px;
    min-height: 300px;
    border-radius: 5px;
}

.sec-prices .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-light);
    height: 100%;
}

.sec-prices h1 {
    margin-top: 15px;
    font-weight: 300px;
    font-size: 25px;
}

.sec-prices span {
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600px;
    color: #aaa;
}

.sec-prices h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
}

.sec-prices p {
    text-align: center;
    margin-top: 30px;
    font-size: 10px;
    font-weight: 600px;
}

.sec-prices a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin: 35px 0;
    padding: 20px 45px;
    border-radius: 30px;
    background-color: var(--font-light)
}

.sec-prices .active {
    background-color: var(--default-color);
    color: #fff;
}

.sec-prices a:hover {
    background-color: var(--default-hover-color);
    transition: 500ms;
}

.description-facts {
    display: flex;
}

.description-fact {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.description-fact .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-fact .item h1 {
    font-size: 40px;
    color: var(--default-color);
}

.description-fact .item .line {
    margin-top: 15px;
    background-color: var(--line-color);
    height: 3px;
    width: 20px;
}

.description-fact .item h3 {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.description-fact .item p {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.boxshadow {
    box-shadow: 2px 2px 2px #ccc;
}

.sm-share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.sm-share h4 {
    margin-left: 10px;
    color: var(--font-dark);
}

.sm-share-icon {
    padding: 10px;
    display: flex;
    margin: 5px;
}

.sm-share-icon h4 {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--font-dark)
}

.sm-share-twitter {
    background-color: var(--color-twitter);
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.sm-share-linkedin {
    background-color: var(--color-linkedin);
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.sm-share-facebook {
    background-color: var(--color-facebook);
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.sm-share-googleplus {
    background-color: var(--color-googleplus);
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.sm-share-pinterest {
    background-color: var(--color-pinterest);
    padding: 12px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    margin-top: 100px;
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
} 
.section-contact input[type="submit"]{
    border: 0;
}
/* #endregion */

