* {
    margin:0;
    padding:0;
    font-family: apple, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;
    background-color: #2fbf13;
    height: 150px;
}

.container {
    display: flex;
    justify-content: space-between;  
    width: 1000px;      
}

.logo {
    display: flex;
    align-items: center;
}

.logo a img {
    height: 100px;
    width: 100px;
}

.menubar {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin:0;
    padding:0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
}
nav .active a,
nav a:hover {
    background-color: #870e42;
    opacity: 0.5;
    transition: 800ms;
}
/* #endregion */

/* #region BANNER */
#banner {
    flex: 1;
    display: flex;
    justify-content: center;
    background-image: url('/projeto-mercearia/assets/media/images/2329950.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner_headline h1{
    font-size: 70px;
    font-weight: 200;
    text-shadow: 3px 3px 3px #000;
}

.banner_headline h2 {
    font-size: 25px;
    font-weight: 100;
    text-shadow: 3px 3px 3px #000;
}

.banner_options {
    height: 200px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #34ff21;
}

.banner2 {
    background-color: #f41e1e;
}

.banner3 {
    background-color: #d3eb35;
}

.banner_title {
    font-size: 25px;
    font-weight: 100;
}


/* #endregion */