* {
    margin:0;
    padding:0;
    font-family: apple, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;
    background-color: #2fbf13;
    height: 150px;
}

.container {
    display: flex;
    justify-content: space-between;  
    width: 1000px;      
}

.logo {
    display: flex;
    align-items: center;
}

.logo a img {
    height: 100px;
    width: 100px;
}

.menubar {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin:0;
    padding:0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
}
nav .active a,
nav a:hover {
    background-color: #0e871c;
    transition: 800ms;
}
/* #endregion */

/* #region BANNER */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('/projeto-mercearia/assets/media/images/2329950.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}


/* #endregion */