* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.jobs-form {
    padding: 5%;
    margin: 10%;

    height: auto;
    width: auto;

    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
}

button {
    height: 50px;
    width: 200px;
    font-size: 20px;

    border: 1px solid transparent;
    border-radius: 20px;

    background-color: #888;
}

button:hover {
    color: #fff;
    background-color: #aaa;
    transition: 500ms;
}

input[type="text"] {
    height: 30px;
    width: 50%;
}

textarea {
    resize: none;
    width: 50%;
}

.jobs-form .buttons {
    margin: 50px;
    padding: 5px;
    text-align: center;
}