.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #ddd;
}

.items {
    border-radius: 10px;
    padding: 20px;
    background-color: #aaa;
}

.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.item6 {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
}

.item11 {
    grid-column: 1 / span 3;
    /* 
    
        grid-area: 1 / 1 / span 2 / span 4;
        grid-area:
            [grid-column-start] / 
            [grid-row-start] / 
            [grid-column-end] / 
            [grid-row-end]; 
    
    */
}