* {
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #region NOTHING-HERE */
header {
    padding: 50px;
    background: linear-gradient(to left, #9a9aff, #8787ff, #6b6bff);
}

section nav {
    padding: 10%;
    display: flex;
}

section nav div {
    position: relative;
    margin-left: 30px;
    left: 350px;
}

.ball1 {
    background-color: #999;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: jump .5s linear alternate infinite;
    animation-delay: 100ms;
}

.ball2 {
    background-color: #a8a8a8;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: jump .5s linear alternate infinite;
    animation-delay: 200ms;
}

.ball3 {
    background-color: #9a9a9a;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: jump .5s linear alternate infinite;
    animation-delay: 300ms;
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0);}
    50%  {transform: translate3d(0,50%,0);}
    100% {transform: translate3d(0,100%,0);}
}

.part-1 {
    padding-left: 550px;
    padding-top: 25px;
    height: 400px;
}

.part-1 .square {
    background-color: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: jump2 2s linear infinite;
}

@keyframes jump2 {
        0% {transform: translateY(0);}
        50% {transform: translateY(50px);}
        100%{transform: translateY(0);}
}
/* #endregion */

main {
    padding: 50px;
}

main i {
    color: #909090;
    font-size: 50px;
    position: absolute;
    left: 650px;

    animation: referenceJump 1s linear infinite;
}

@keyframes referenceJump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

banner {
    background: gray;
    width: 300px;
    height: 150px;

    border-radius: 10%;

    position: absolute;

    animation: moveAndChange 5s linear infinite;
}

@keyframes moveAndChange {
    0% {
        background: red;
        border-radius: 20%;
    }

    25% {
        background: violet;
        border-radius: 30%;
    }

    50% {
        background: yellow;
        border-radius: 40%;
    }

    75% {
        background: blue;
        border-radius: 50%;
    }

    100% {
        background: gray;
        border-radius: 10%;
    }
}