:root {
    --font-size-title: 40px;
    --font-size-subtitle: 30px;
    --font-size-p: 20px;
}

* {
    margin:0;
    padding:0;
}

.menu {
    padding: 50px;
}

.menu ul{
    display: flex;
}

.menu ul li {
    padding-left: 20px;
}