* {
    font-family: -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.line {
    width: 990px;
    height: 1px;
    background-color: #989898;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.logo,
.menu {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #777;
}

.logo a:hover {
    color: #aaa;
    transition: 500ms;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    color: #777;
    display: block;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #989898;
    transition: 500ms;
}

/* #endregion */

/* #region MAIN-NEWS */
#trendings .container {
    display: grid;
    grid-template-areas: 
        "main main secondary"
        "main main tertiary"
    ;
    grid-gap: 20px;
    margin: auto;
}

.trending-news1,
.trending-news2,
.trending-news3 {
    background-color: #444;
    padding: 45px;
    margin-top: 25px;
    color: #fff;
    height: auto;
}

/* Trending News 1 - main */
.trending-news1 {
    grid-area: main;
    grid-column: 1 / 5;
    padding: 50px;
    padding-top: 300px;
}

.trending-news1 .title {
    font-size: 35px;
    font-weight: 100;
}

h3 {
    font-weight: 100;
}

.trending-news1 .description {
    font-size: 20px;
    font-weight: 100;
}

/* Trending News 2 - secondary */
.trending-news2 {
    grid-area: secondary;
    grid-column: 5 / 7;
    padding: 50px;
    padding-top: 60px;
}

.trending-news2 .title {
    font-size: 35px;
    font-weight: 100;
}

.trending-news2 .description {
    font-size: 20px;
    font-weight: 100;
}

/* Trending News 3 - tertiary */
.trending-news3 {
    grid-area: tertiary;
    grid-column: 5 / 7;
    padding: 50px;
    padding-top: 100px;
}

.trending-news3 .title {
    font-size: 35px;
    font-weight: 100;
}

.trending-news3 .description {
    font-size: 20px;
    font-weight: 100;
}

.read-more a {
    color: #888;
    text-decoration: none;
}

.read-more a:hover {
    color: #fff;
    text-decoration: underline;
    transition: 500ms;
}

/* #endregion */

/* #region RECENT-NEWS */
#recent {
    display: flex;
    justify-content: center;

    margin-top: 150px;
}

.title {
    color: #888;
}

.title h1 {
    font-size: 60px;
    font-weight: 100;
}

.recent-article {
    display: flex;
    padding: 5px;
    margin-bottom: 25px;
}

.recent-article-image img {
    margin-top: 25px;
    height: 150px;
    width: 250px;
}

.recent-article-elements {
    padding-left: 10px;
}

.recent-article-title {
    font-size: 20px;
    font-weight: 100;
    color: #999;
}

.recent-article-desc {
    font-size: 15px;
    font-style: italic;
    color: #999;
}

.recent-article-date {
    font-size: 14px;
    color: #999;
}
/* #endregion */

/* #region FOOTER */
footer {
    display: flex;
    justify-content: center;

    background-color: #2f2f2f;
    height: auto;
    color: #fff;
}

.widget-contact,
.widget-address {
    height: 200px;
    width: 200px;
    background-color: #80b5cb;
    padding: 15px;
}

footer h3 {
    font-size: 25px;
}
/* #enderegion */