input, a {
    display: flex;
}

input[required] {
    background-color: #aaddee;
}

input[type="password"] {
    background-color: #220022;
    color: #fff;
}

[required]{
    background-color: #222;
}

a[href^="http:"] {
    background-color: #abcdef;
}

a[href^="https:"]{
    color: #444;
}

a[href*="mundo"] {
    background-color: red;
}

a[href*="tecnologia"] {
    background-color: #34aade;
}

a[href$="html"]{
    background-color: #9abcde;
}