* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {

    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    display: block;
    margin:0;
    padding:0;
}

nav ul {
    display: flex;
}

nav a {
    color: #555;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
}

nav .active a,
nav a:hover {
    background-color: #717171;
    color: #fff;
    transition: 500ms;
}

#banner {
    background-image: url('/projeto-site/assets/images/Capturar.PNG');
    background-position: center;
    background-size: cover;
    height: 300px;
}