* {
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    font-size: 30px;
    color: blue;
}

h1 {
    font-size: 100px;
    font-weight: lighter;
    color: red;
}

.box h1 {
    font-size: inherit;
    color: inherit;
}

.container2 {
    color: #ffaaff;
    border: 1px solid #ff00ff;
}

.container2 h1 {
    color: inherit;
}