* {
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* #region HEADER */
header {
    background-image: linear-gradient(to left, #afed, #fedd);

    padding: 3%;

    height: auto;
    width: 100%;

    z-index: 9;
    position: fixed;
}

header ul {
    display: inline-flex;
    float: right;
    padding-right: 30px;
}

header ul li {
    padding-right: 50px;
}

header ul li a{
    color: #555;
    text-decoration: none;
}

header ul li a:hover{
    color: #ddd;
    transition: 500ms;
}
/* #endregion */

/* #region ABOUT */
.about{
    padding: 10%;
}

.about .title h1{
    font-size: 45px;
}

.about .description {
    padding: 5%;
}

.about .description p {
    font-size: 30px;
}

.about .squares{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.about .square-1{
    background-color: #fedece;

    height: 300px;
    width: 150px;
    margin-left: 50px;
}

.about .square-2{
    background-color: #a1b2c3;

    height: 150px;
    width: 300px;

    margin-left: 50px;
}
/* #endregion */

/* #region EXAMPLE */
.example{
    background-color: #aab6d3;
    height: auto;

    padding: 5%;
}

.example h1{
    font-size: 45px;
}
/* #endregion */