* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin:0;
    padding:0;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

/* #region HEADER */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    color: #666666;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    transition: 500ms;
    color: #fff;
}
/* #endregion */

/* #region BANNER */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('assets/images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.banner_headline h1 {
    font-size: 55px;
    font-weight: 500;
    text-shadow: 0 2px 0 #555;
    margin:0;
    padding:0;
    max-width: 300px;
}

.banner_headline h2 {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0 2px 0 #555;
    margin:0;
    padding:0;
    max-width: 300px;
    margin-top: 30px;
}

.banner_options {
    height: 300px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding:10px;
}

.banner1 {
    background-color: #39aa;
}
.banner2 {
    background-color: #44ad;
}
.banner3 {
    background-color: #56ff;
}

.banner_title {
    font-size: 25px;
    font-weight: 300;
}

.banner_desc {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.banner_options a:hover {
    opacity: 0.5;
    color: rgba(255, 255, 255, 0.5);
    transition: 500ms;
}

.banner_table {
    display: flex; 
    flex-direction: column;
    margin: 15px;
} 

.week_opening {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.saturday_opening {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 1px solid #ddd;  
}
/* #endregion */

/* #region ARROW */
#arrow {
    display: flex;
    justify-content: center;
    height: 220px;
    color: #888;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    font-size: 40px;
}

.arrow-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    font-size: 50px;
    animation: jump 2s linear infinite; 
}

@keyframes jump {
    0% {transform: translateY(0)}
    50% {transform: translateY(20px)}
    100% {transform: translateY(0)}
}
/* #endregion */

/* #region GENERAL  */
#general {
    display: flex;
    justify-content: center;
}

#general section {
    flex: 2;
}

#general aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 30px;
    font-weight: light;
}

.widget_title_bar {
    width: 150px;
    height: 2px;
    border-radius: 10px;
    background-color: #36a9e1;
    margin-top: 10px;
}

/* widget_body SQUARE*/
.widget_body {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 120px;
    width: 120px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #36a9e1;
}

/* widget_body TEXT & INFOS*/
.widget_text {
    padding: 10px;
    flex-wrap: wrap;
    text-align: justify;
    font-weight: light;
}

.line {
    display: flex;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 300px;
}

.line i {
    font-size: 20px;
    padding: 15px;
    background-color: #36a9e1;
    color: #fff;
}

.phone {
    color: #666;
    margin-left: 7px;
    margin-top: 7px;
    font-size: 17px;
}

.phone1 {
    margin-left: 7px;
    margin-top: 7px;
    font-weight: light;
    text-shadow: 2px solid #000;
    font-size: 17px;
}
/* #endregion */

/* #region ARTICLE */
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news_data {
    display: flex;
    margin-top: 25px;
}

article a {
    text-decoration: none;
}

article .news_date {
    color: #fff;
    background-color: #094f68;
    padding: 10px;
    margin-right: 5px;
}

article .news_comments {
    color: #fff;
    background-color: #36aae1;
    padding: 10px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
    margin-top: 25px;
}

article .news_title {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
}

article .news_resume {
    font-size: 14px;
    line-height: 22px;
    color: #777;
}
/* #endregion */

/* #region FOOTER */
footer {
	background-color:#1e1e1e;
	display:flex;
	justify-content:center;
}
.footer_menu {
	display:flex;
}
.fm_1, .fm_2, .fm_3 {
	flex:1;
	color:#FFFFFF;
    padding: 20px;
}

/* #footer menu 1 */
.fm_1 {
	background-color:#39aae1;
}

.fm_1 h1 {
    font-weight: 100;
}

.fm_1 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

/* #footer menu 2 */
.fm_2 {
	background-color:#0079c7;
}

.fm_2 h1 {
    font-weight: 100;
}

.fm_2 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

/* #footer menu 3 */
.fm_3 {
	background-color:#2b4c99;
}

.fm_3 h1 {
    font-weight: 100;
}

.fm_3 h2 {
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
}

.footer_area {
    display: flex;
}

.footer_areaitem {
    flex: 1;
    color: #fff;
}

footer .widget_title_text {
    color: #fff;
    font-size: 25px;
}

.footer_copyright {
    border-top: 1px solid #2c2c2c;
    line-height: 80px;
    font-size: 12px;
    color: #FFFFFF;
}

/* #widget_text */
footer .widget_text{
    color: #5f5f5f;
    font-size: 12px;
    margin-right: 50px;
}

footer .widget_locations {
    margin-top: 20px;
    margin-top: 20px;
    padding: 5px;
    color: #5f5f5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

footer .posts {
    margin-right: 5px;
    padding: 5px;
}

footer .post_resume {
    margin: 5px 0;  
    font-size: 12px;
    color: #5f5f5f;
}

footer .post_date {
    margin: 5px 0;
    font-size: 12px;
    color: #36a9e1;
}
/* #endregion */

/* #region MOBILE */

/* #endregion */