.container {
    display: grid;
    grid-gap: 10px;
    background-color: #ccc;
    grid-template-areas: 
        "item1 item1 item1"
        "item2 item2 item3"
        "item4 item4 item3"
        "item5 item5 item6"
        "item7 item7 ."
        "item8 item8 item8"
    ;
}

.items {
    border-radius: 10px;
    background-color: #888;
    padding: 20px;
    font-size: 20px;
}

.item1 {
    grid-area: item1;
    display: flex;
    justify-content: space-between;
}

.item1 nav ul,
.item1 nav li {
    list-style: none;
}

nav ul {
    display: flex;

}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}