* {
    margin:0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

/* #region HEADER  */
header {
    width: 100%;

    z-index: 11;
    position: fixed;


    padding: 20px;
    background-image: linear-gradient(to right, #5fdad2, #98dcd6,#65f0b9, #65cbc6);
}

header ul li {
    padding-left: 25px;
    display: inline;
}

header ul li a {
    color: #444;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

header ul li a:hover {
    color: #fff; 
    transition: 500ms;
}

@media screen and (max-width: 600px){
    header ul {
        float: none;
    }

    header ul li a {
        font-size: 15px;
    }
}
/* #endregion */

/* #region WELCOME  */
.welcome {
    width: auto;
    padding: 5%;
    color: #fff;

    /* #region BACKGROUND-IMAGE */
    background-image: url('/modulo03/secao04/images/mountain-lake-nature-forest-landscape-clouds-scenery-4K-171.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* #endregion */
}

.welcome h1 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center; 
    text-shadow: 3px 3px 3px #000;
}

.welcome p {
    font-size: 35px;
    text-align: center;
    text-shadow: 3px 3px 3px #000;
}

.welcome .arrow-down-jump {
    margin-top: 20%;
    text-align: center;

    font-size: 40px;
    animation: arrowJump 500ms infinite alternate;
}

@keyframes arrowJump {
    0% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(-50%);
    }
}
/* #endregion */

/* #region LOGIN-FORM  */
.login-form {
    margin: 5%;
    padding: 5%;

    width: auto;
    color: #fff;
    text-shadow: 3px 3px 3px #000;

    border-radius: 5rem;

    background-image: url('/modulo03/secao04/images/welcome-bgi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-form a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none; 
    font-size: 20px;

    border-radius: 50px;
}

.login-form h1 {
    font-size: 35px;
    text-align: center;
}

.login-form p {
    text-align: center;
}

/* #endregion */

/* #region SINGUP-FORM */
.signup-form {
    margin: 5%;
    padding: 5%;

    width: auto;
    color: #fff;
    text-shadow: 3px 3px 3px #000;

    border-radius: 5rem;

    background-image: url('/modulo03/secao04/images/959295.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-form a {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none; 
    font-size: 20px;

    border-radius: 50px;
}

.signup-form h1 {
    font-size: 35px;
    text-align: center;
}

.signup-form p {
    text-align: center;
}
/* #endregion */